* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




.main {
	display: grid;
	place-items: center;
	margin-top: 50vh;
	transform: translateY(-50%);

}

.form{
	display: flex;
	gap: 10px;
	flex-direction: column;
}



#btn {
	width: fit-content;
	background-color: rgb(71, 77, 82);
	padding: 10px;
	border-radius: 10px;
	color: rgb(211, 212, 213);
	border: none;
	font-weight: 600;
	margin-top: 10px;
}



#bt::file-selector-button {
	width: fit-content;
	background-color: rgb(71, 77, 82);
	padding: 5px;
	border-radius: 8px;
	color: rgb(211, 212, 213);
	border: none;
	font-weight: 400;
}

#btn:hover {
	background-color: rgb(104, 112, 119);
}

.input-box {
	border-radius: 5px;
	padding: 5px;
	border: none;
	background-color: aliceblue;
	margin-top: 5px;
}

.input-box:focus,
textarea:focus {
	border: 1px solid rgb(79, 78, 78);
	outline: none;
}

.preview {
	margin-top: 10px;
	border-radius: 10px;
	height: 80px;
	width: 120px;
	overflow: hidden;
	display: none;
	object-fit: cover;
}

#invalid{
	color: red;
	font-weight: 600;
}